# chapter 2 변수와 자료형

변수에 들어가는 값은 특정 메모리 주소에 할당된다

In [1]:
a = 10
print(a)

10

In [2]:
a = float(10) #a를 실수형으로 변환 / 정수형의 경우 int()
print(a)

10.0

In [3]:
a =10
b = 3
print(a/b) #실수형으로 결과값 출력

3.3333333333333335

In [5]:
a = int(10.7)
b = int(10.3)
print(a)
print(b)
print(a+b)

10
10
20

In [8]:
a = '76.3'
b = float(a)
print(a+b) #문자열과 숫자열의 덧셈 불가로 에러 발생

TypeError: can only concatenate str (not "float") to str

In [11]:
a = float(b)
b = a #a를 b에 할당
print(a+b)

152.6

In [12]:
a = str(a)
b = str(b)
print(a+b) #a,b 모두 문자형이므로 문자열 간 단순 연결

76.376.3

In [13]:
#type()함수는 변수의 자료형 확인
type(a)

str

인덱싱과 슬라이싱

파이썬의 인덱스는 0부터 시작

In [18]:
cities = ['서울','부산','인천','대구','대전','광주','울산','수원']
cities[0:6] #0에서 5까지 슬라이싱
cities[0:5] #0에서 4까지 슬라이싱
cities[5:] #5부터 마지막 까지 슬라이싱

['광주', '울산', '수원']

In [19]:
### 리버스 인덱스
# 마지막 값부터 -1을 할당
print(cities[-8:])

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [21]:
cities[::2] #2칸 단위로 띄어서
cities[::-1] #역으로 슬라이싱

['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [23]:
color1 = ['red','blue','green']
color2 = ['orange','black','white']
print(color1+color2) #리스트 합치기
len(color1) #리스트의 길이

['red', 'blue', 'green', 'orange', 'black', 'white']

3

In [28]:
color1*2 #리스트 2회 반복
'blue' in color1 #''의 존재여부 판단

True

리스트의 추가 및 삭제

In [30]:
color = ['red','blue','green']
color.append('white') #리스트에 ''추가
color

['red', 'blue', 'green', 'white']

In [32]:
color = ['red','blue','green']
color.extend(['black','purple']) #리스트에 새로운 리스트 추가
color

['red', 'blue', 'green', 'black', 'purple']

In [33]:
color = ['red','blue','green']
color.insert(3,'orange') #(위치,새로운값)
color

['red', 'blue', 'green', 'orange']

'is' 연산자는 -5에서 256까지의 정수값만 저장할 수 있다.

조건문과 반복문

In [36]:
#if-else문
print('Tell me your age?')
myage = int(input())
if myage <30 and myage >20: 
    print('Well come to the Club.') #변수가 20에서 30사이 일때
else:
    print('Fxck away!!') #변수가 20이하 31이상일때

Tell me your age?
Fxck away!!

== 같음
is 같음(메모리주소)
!= 같지않음
is not 같지않음(메모리주소)
and 두 값 모두 참
or 두 값 중 하나만 참
not 값을 역으로 반환하여 판단

In [40]:
print('당신이 태어난 연도를 입력하세요.')
a = int(input())
age = 2022-a+1
if age <= 26 and 20<=age:
    print('대학생')
elif age <20 and age>=17:
    print('고등학생')
elif age<17 and age>=14:
    print('중학생')
elif age <= 14 and age>=8:
    print('초등학생')
else:
    print('학생이 아닙니다')

당신이 태어난 연도를 입력하세요.
초등학생

In [41]:
###반복문
for i in [1,2,3,4,5]:
    print('hello')

hello
hello
hello
hello
hello

In [42]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [43]:
for i in range(100):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# for 변수 in range(시작번호,마지막번호,증가값)

In [56]:
i=0 #i변수에 1을 할당
s = 0
while i <10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [58]:
for i in range(10):
    if i == 5:
        break
    print(i)
print('End of program')

0
1
2
3
4
End of program

In [59]:
for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9