## 5장 연습문제

In [3]:
t = ['Gachon Gadd']
a = list(t)
a

['Gachon Gadd']

In [11]:
for i in t:
    print(i)

G
a
c
h
o
n

G
a
d
d

In [7]:
t.lower()

'gachon'

In [8]:
t

'Gachon'

In [13]:
a=4
a=-3
a

-3

In [17]:
a = []
 
midterm_set = set([1,5,7,4,3,2,1,1,2,3])
 
for i in midterm_set:
    a = a+i
print(a)

TypeError: can only concatenate list (not "int") to list

In [18]:
midterm_set = set([1,5,7,4,3,2,1,1,2,3])
type(midterm_set)

set

In [23]:
def delete_a_list_element(list_data, element_value):
    if element_value in list_data:
        list_data.remove(element_value)
        return list_data
    else:
        return "False"
    
list_data = ['a',1,'gachon',2016.0]
element = 2016
result = delete_a_list_element(list_data, element)
print(result)

['a', 1, 'gachon']

In [25]:
def week_s(sen1):
    cells = set(sen1.replace(' ','').lower())
    return cells
 
sen_a = "The quick brown fox jumps over the lazy dog"
sen_b = "I love you"
print(len(week_s(sen_a) - week_s(sen_b)))

19

In [26]:
week_s(sen_a)

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [28]:
week_s(sen_b)

{'e', 'i', 'l', 'o', 'u', 'v', 'y'}

In [30]:
a = [1,2,3]
b = [2,3,5]
a+b

[1, 2, 3, 2, 3, 5]

In [31]:
type(a)

list

In [32]:
dict1 = {2:1, 4:2, 6:3, 8:4, 10:6}
 
dict_keys = list(dict1.keys())
dict_values = list(dict1.values())
 
dict_2 = dict()
 
for i in range(len(dict_keys)):
    dict_2[dict_values[i]] = dict_keys[i]
    
print(dict_2[2])

4

In [34]:
data_1 = {'one' : (1,2,3,4,5,6), 'two':[1,2,3,4,5,6], 'three':{'four':4, 'five':5}}
 
for k in ['one', 'two', 'three']:
    try:
        print(data_1[k][:1])
    except TypeError:
        print('error')
        
for k in ['one', 'two', 'three']:
    try:
        data_1[k][-1] = "a"
        print(data_1[k][-1])
    except TypeError:
        print('error')

(1,)
[1]
error
error
a
a

In [47]:
user_dict = {}
user_list = ["students","superuser", "professor", "employee"]
for value_1, value_2 in enumerate(user_list):
    user_dict[value_2] = value_1
    print(value_2)
print(user_dict)

students
superuser
professor
employee
{'students': 0, 'superuser': 1, 'professor': 2, 'employee': 3}

In [48]:
user_dict['students']

0

In [51]:
a = 'zero on two three'.split('two')
r = [a for a in range(10)]
print(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
b = [4,5,]

In [53]:
print(b)

[4, 5]

In [54]:
sum(b)

9

In [55]:
len(b)

2

In [59]:
w = [1,2,3,4,5,6]
g = [3,2,4,2,3]
d = [w,g]
d[1][2]

4

In [65]:
alist = ["a", "b", "c"]
blist = ["1", "2", "3"]
abcd= []
for a, b in enumerate(zip(alist, blist)):
    print(a)
    print(b)
    try:
        abcd.append(b[a])
    except IndexError:
        abcd.append("error")
print (abcd)

0
('a', '1')
1
('b', '2')
2
('c', '3')
['a', '2', 'error']

In [64]:
enumerate(zip(alist, blist))

In [79]:
alphabet = ["a", "b", "c", "d", "e", "f", "g", "h"]
nums = [i for i in range(20)]
answer = [alpha+str(num) for alpha in alphabet for num in nums if num%2==0]
print(answer)

['a0', 'a2', 'a4', 'a6', 'a8', 'a10', 'a12', 'a14', 'a16', 'a18', 'b0', 'b2', 'b4', 'b6', 'b8', 'b10', 'b12', 'b14', 'b16', 'b18', 'c0', 'c2', 'c4', 'c6', 'c8', 'c10', 'c12', 'c14', 'c16', 'c18', 'd0', 'd2', 'd4', 'd6', 'd8', 'd10', 'd12', 'd14', 'd16', 'd18', 'e0', 'e2', 'e4', 'e6', 'e8', 'e10', 'e12', 'e14', 'e16', 'e18', 'f0', 'f2', 'f4', 'f6', 'f8', 'f10', 'f12', 'f14', 'f16', 'f18', 'g0', 'g2', 'g4', 'g6', 'g8', 'g10', 'g12', 'g14', 'g16', 'g18', 'h0', 'h2', 'h4', 'h6', 'h8', 'h10', 'h12', 'h14', 'h16', 'h18']

In [77]:
for alpha in alphabet:
    for num in nums:
        if num%2==0:
            print(num)

0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18
0
2
4
6
8
10
12
14
16
18

In [81]:
#코드 12-1
for i in range(10):
    try:
        print(10/i)
    except ZeroDivisionError as Z:
        print(Z)

division by zero
10.0
5.0
3.3333333333333335
2.5
2.0
1.6666666666666667
1.4285714285714286
1.25
1.1111111111111112

In [85]:
f = open("dream.txt","r")
contents = f.read()
print(contents)
f.close()

I have a dream a song to sing
to help me cope with anything
if you see the wonder of a fairy tale
you can take the future even
if you fail I believe in angels
something good in everything

In [84]:
contents

TypeError: 'str' object is not callable

In [94]:
def sum_data(list_data_a, list_data_b):
    for i in list_data_a:
        for j in list_data_b:
            result = i+j
            print(result)
        return result
a = [1, 4]
b = [5, 8]
print (sum_data(a, b))

6
9
9

In [90]:
a = [4, 5]
b = [3, 4]
su(a, b)

NameError: name 'su' is not defined

In [1]:
b='5-2'.split('-')

In [2]:
b

['5', '2']