## 파이썬 스타일 코드의 이해

파이선 스타일 코드(pythonic code): 파이썬 스타일의 코드 작성 기법

In [2]:
colors = ['red','blue','green','yellow']
result = ''
for s in colors:
    result += s
print(result)

redbluegreenyellow

In [4]:
#여러 단어를 붙이는 경우 join
colors = ['red','blue','green','yellow']
result = ''.join(colors)
print(result)

red blue green yellow

## 문자열의 분리 및 결합

split() 함수 : 문자열의 값을 특정 값을 기준으로 분리하여 리스트 형태로 변환하는 방법이다.

In [5]:
#공백기준으로 분리
#',' ';'
items = 'zero on two three'.split()
print(items)

['zero', 'on', 'two', 'three']

In [6]:
example = 'python,jquery,javascript'
example.split(",")

['python', 'jquery', 'javascript']

In [7]:
a,b,c = example.split(",")
print(a,b,c)

python jquery javascript

In [9]:
example = 'theteamlab.univ.edu'
subdomain, domain, tld = example.split('.')
print(subdomain,domain,tld)

theteamlab univ edu

join() 함수 : 문자열로 구성된 리스트를 합쳐 하나의 문자열로 반환할 때 사용한다.

In [10]:
colors = ['red','blue','green','yellow']
result = ''.join(colors)
result

'redbluegreenyellow'

In [11]:
result = ' '.join(colors)
result

'red blue green yellow'

In [13]:
result = ', '.join(colors)
result

'red, blue, green, yellow'

In [14]:
result = '-'.join(colors)
result

'red-blue-green-yellow'

## 리스트 컴프리헨션

리스트 컴프리헨션(list comprehension)의 기본 개념은 기존 리스트형을 사용하여 간단하게 새로운 리스트를 만드는 기법이다.

In [15]:
#일반적인 반복문 + 리스트
result = []
for i in range(10):
    result.append(i)
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#리스트 컴프리헨션
result = [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
##리스트 컴프리헨션 용법 : 필터링
#일반적인 반복문 + 리스트
result = []
for i in range(10):
    if i % 2 == 0:
        result.append(i)
result

[0, 2, 4, 6, 8]

In [19]:
#리스트 컴프리헨션
result = [i for i in range(10) if i%2 == 0]
result

[0, 2, 4, 6, 8]

In [20]:
result = [i if i %2 == 0 else 10 for i in range(10)]
result

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

In [2]:
##리스트 컴프리헨션 용법 : 중첩 반복문
word_1  =  "Hello" 
word_2  =  "World" 
result  = [i + j for i in word_1 for j in word_2]
result

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [3]:
case_1 = [ "A" , "B" , "C" ] 
case_2 = [ "D" , "E" , "A" ] 
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
result

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [4]:
##리스트 컴프리헨션 용법 : 이차원 리스트
words= 'The quick brown fox jumps over the lazy dog'.split()
print(words)
stuff=[[w.upper(),w.lower(),len(w)]for w in words]

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [5]:
for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [6]:
case_1=["A","B","C"]
case_2=["D","E","A"]
result=[i+j for i in case_1 for j in case_2]
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [7]:
result = [[i+j for i in case_1]for j in case_2]
result

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AA', 'BA', 'CA']]

## 다양한 방식의 리스트값 출력

enumerate() 함수는 리스트값을 추출할 때 인덱스를 붙여 함께 출력하는 방법이다.

In [8]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [9]:
{i:j for i,j in enumerate('TEAMLAB is an academic institute located in South Korea.'.split())}

{0: 'TEAMLAB',
 1: 'is',
 2: 'an',
 3: 'academic',
 4: 'institute',
 5: 'located',
 6: 'in',
 7: 'South',
 8: 'Korea.'}

In [10]:
#리스트값을 병렬로 묶어 출력: zip()함수
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for a,b in zip(alist,blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [11]:
a,b,c = zip((1,2,3),(10,20,30),(100,200,300))
print(a,b,c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [12]:
[sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))]

[111, 222, 333]

In [13]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']
for i, (a,b) in enumerate(zip(alist,blist)):
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3