In [13]:
#push,pop
a = [1,2,3,4,5]
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [14]:
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [19]:
a.pop() #마지막에 저장한 함수 추출

5

In [20]:
a

[1, 2, 3, 4]

In [26]:
# 스택
word = input("Input a word:")
world_list = list(word)
print(world_list)

result = []
for _ in range(len(world_list)):
    result.append(world_list.pop())
    print(result)
print(result) 
print(word[::-1])

['P', 'Y', 'T', 'H', 'O', 'N']
['N']
['N', 'O']
['N', 'O', 'H']
['N', 'O', 'H', 'T']
['N', 'O', 'H', 'T', 'Y']
['N', 'O', 'H', 'T', 'Y', 'P']
['N', 'O', 'H', 'T', 'Y', 'P']
PYTHON

In [1]:
#튜플
#리스트와 같은 개념, 데이터를 변경할 수 없는 자료구조
t = (1, 2, 3)
print(t + t, t * 2)
len(t)

(1, 2, 3, 1, 2, 3) (1, 2, 3, 1, 2, 3)

3

In [3]:
t[1] = 5 #튜플은 리스트와 다르게 값 변경x

TypeError: 'tuple' object does not support item assignment

In [4]:
#세트
#값을 순서 없이 저장하면서 중복을 불허 / 삭제, 변경 가능
s = set([1, 2, 3, 1, 2, 3])
s

{1, 2, 3}

In [5]:
s.add(1) #1 추가 / 한개의 원소 추가
s

{1, 2, 3}

In [6]:
s.remove(1) # 1 삭제
s

{2, 3}

In [7]:
s.update([1, 4, 5, 6, 7]) #1,4,5,6,7 추가 / 새로운리스트 추가
s

{1, 2, 3, 4, 5, 6, 7}

In [8]:
s.discard(3) #3 삭제

{1, 2, 4, 5, 6, 7}

In [9]:
s.clear() #모두삭제
s

set()

In [13]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

s1.union(s2) #합집합

{1, 2, 3, 4, 5, 6, 7}

In [14]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [15]:
s1.intersection(s2) #교집합

{3, 4, 5}

In [16]:
s1 & s2

{3, 4, 5}

In [17]:
s1.difference(s2) #차집합

{1, 2}

In [19]:
s1 - s2

{1, 2}

In [20]:
#딕셔너리
#키와 값 형태로 데이터를 저장하는 자료구조
student_info = {20140012:'Sungchul', 20140059:'Jiyong',20140058:'Haehong'}
student_info[20140012]

'Sungchul'

In [21]:
student_info[20140012] = 'Janhyeok' #재할당
student_info[20140012]

'Janhyeok'

In [22]:
student_info[20140039] = 'Wonchul' #데이터추가
student_info

{20140012: 'Janhyeok',
 20140059: 'Jiyong',
 20140058: 'Haehong',
 20140039: 'Wonchul'}

In [23]:
country_code = {"America":1, "Korea":82, "China":86, "Japan":81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [24]:
country_code.keys() #키(key)값 출력

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [26]:
country_code["German"] = 49 #딕셔너리 추가
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 49}

In [27]:
country_code.values() #딕셔너리 값 출력

dict_values([1, 82, 86, 81, 49])

In [29]:
country_code.items() #딕셔너리 데이터 출력

dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81), ('German', 49)])

In [30]:
#딕셔너리 사용시 for문과 함께 사용
for k,v in country_code.items(): #k = key값 / v = value값
    print("Keys:", k)
    print("Value:", v)

Keys: America
Value: 1
Keys: Korea
Value: 82
Keys: China
Value: 86
Keys: Japan
Value: 81
Keys: German
Value: 49

In [31]:
"Korea" in country_code.keys()

True

In [35]:
82 in country_code.values()

True